html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/*-----------------------------------------------------------------------------------/
/ Dependencies
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Colors
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Units
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Media queries
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Plugins
/-----------------------------------------------------------------------------------*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*-----------------------------------------------------------------------------------/
/ Partials
/-----------------------------------------------------------------------------------*/
.wrapper {
  display: block;
  min-height: 100%;
  _height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 0;
  margin: 0px auto;
  background-image: url(/assets/img/wood-pattern.png); }

main {
  margin: 60px 0 170px 0;
  *zoom: 1;
  width: auto;
  max-width: 1170px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 10px;
  background-image: url(/assets/img/smudges.png);
  background-repeat: no-repeat;
  background-position: top center; }
  main:before, main:after {
    content: '';
    display: table; }
  main:after {
    clear: both; }
  main article {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 65.66667%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: 34.33333%;
    background: #FFF;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 20px; }
    main article:before, main article:after {
      content: '';
      display: table; }
    main article:after {
      clear: both; }
    main article:last-child {
      margin-right: 0%; }
  main aside {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 31.33333%;
    margin-left: 0%;
    margin-right: 3%;
    position: relative;
    left: -68.66667%; }
    main aside:before, main aside:after {
      content: '';
      display: table; }
    main aside:after {
      clear: both; }
    main aside:last-child {
      margin-right: 0%; }
    main aside .container {
      background: #FFF;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
      padding: 20px 20px 180px 20px;
      position: relative;
      *zoom: 1; }
      main aside .container:before, main aside .container:after {
        content: '';
        display: table; }
      main aside .container:after {
        clear: both; }
      main aside .container .fiets {
        position: absolute;
        bottom: -38px;
        left: 0;
        right: 0; }

@media only screen and (max-width: 860px) {
  main {
    margin: 40px 10px 250px 10px; } }
@media only screen and (max-width: 640px) {
  .wrapper {
    overflow: hidden; }

  main {
    margin: 40px 10px 260px 10px; }
    main article {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      position: static;
      left: 0;
      margin-bottom: 40px; }
      main article:before, main article:after {
        content: '';
        display: table; }
      main article:after {
        clear: both; }
      main article:last-child {
        margin-right: 0%; }
    main aside {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 100%;
      margin-left: 0%;
      margin-right: 3%;
      position: static;
      left: 0;
      margin-bottom: 40px; }
      main aside:before, main aside:after {
        content: '';
        display: table; }
      main aside:after {
        clear: both; }
      main aside:last-child {
        margin-right: 0%; } }
* {
  outline: none;
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.right {
  text-align: right; }

.center {
  *zoom: 1;
  width: auto;
  max-width: 1170px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .center:before, .center:after {
    content: '';
    display: table; }
  .center:after {
    clear: both; }

.small-only {
  display: none; }

@media only screen and (max-width: 640px) {
  .small-only {
    display: block; } }
@font-face {
  font-family: 'BloklettersBalpen';
  src: url("/assets/fonts/Blokletters-Balpen-webfont.eot");
  src: url("/assets/fonts/Blokletters-Balpen-webfont.eot?iefix") format("eot"), url("/assets/fonts/Blokletters-Balpen-webfont.woff") format("woff"), url("/assets/fonts/Blokletters-Balpen-webfont.ttf") format("truetype"), url("/assets/fonts/Blokletters-Balpen-webfont.svg#webfontqQCANlOs") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BloklettersViltstift';
  src: url("/assets/fonts/Blokletters-Viltstift-webfont.eot");
  src: url("/assets/fonts/Blokletters-Viltstift-webfont.eot?iefix") format("eot"), url("/assets/fonts/Blokletters-Viltstift-webfont.woff") format("woff"), url("/assets/fonts/Blokletters-Viltstift-webfont.ttf") format("truetype"), url("/assets/fonts/Blokletters-Viltstift-webfont.svg#webfont4P6345Om") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: 'BloklettersBalpen', _sans;
  line-height: 1;
  color: #000; }

a {
  color: #117f3b;
  text-decoration: none;
  transition: all ease-in 300ms; }
  a:hover {
    color: #0a4c24;
    transition: all ease-in 300ms; }

h1, h2, h3, h4 {
  font-family: 'BloklettersViltstift', _sans;
  margin-bottom: 12px; }

h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 35px;
  line-height: 2.1875rem; }

h2 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 18px;
  line-height: 1.125rem;
  color: #117f3b; }

h3 {
  font-size: 14;
  font-size: 0.875rem;
  line-height: 18;
  line-height: 1.125rem; }

h4 {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem; }

p {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 18px;
  line-height: 1.125rem;
  margin-bottom: 12px; }
  p.call {
    font-size: 14px;
    font-size: 0.875rem;
    font-family: 'BloklettersViltstift', _sans; }
  p:last-child {
    margin-bottom: 0; }

strong,
b {
  font-family: 'BloklettersViltstift', _sans; }

header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/assets/img/header-bground.jpg);
  min-height: 250px; }
  header:after {
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 120px;
    width: 100%;
    content: "";
    background-image: url(/assets/img/header-grass.png);
    background-repeat: repeat-x;
    background-position: top center; }
  header nav {
    height: 36px;
    border-bottom: 1px solid #CDCED3; }
    header nav ul li {
      display: inline-block;
      position: relative; }
      header nav ul li a {
        font-family: 'BloklettersViltstift', _sans;
        color: #000;
        display: block;
        font-size: 14px;
        font-size: 0.875rem;
        padding: 15px 16px 23px 16px; }
        header nav ul li a.active {
          background-image: url(/assets/img/nav-active.png);
          background-size: 195px 22px;
          background-repeat: no-repeat;
          background-position: center bottom;
          color: #117f3b; }
    header nav ul.main-menu li:after {
      content: "";
      background-image: url(/assets/img/ruitje.png);
      background-size: 10px 17px;
      background-repeat: no-repeat;
      width: 10px;
      height: 17px;
      display: block;
      position: absolute;
      right: -10px;
      top: 11px; }
    header nav ul.main-menu li:last-of-type:after {
      display: none; }
    header nav ul.lang-menu {
      position: absolute;
      right: 10px;
      top: 0; }
      header nav ul.lang-menu li {
        display: block;
        float: left; }
        header nav ul.lang-menu li:after {
          display: none; }
        header nav ul.lang-menu li a {
          padding: 9px 4px 4px 4px; }
          header nav ul.lang-menu li a.active {
            background: none;
            fill: #117f3b; }
    header nav .icon {
      width: 20px;
      height: 20px; }
    header nav .mls {
      position: fixed;
      left: -9999px;
      top: 0; }
    header nav #offcanvas-menu,
    header nav #offcanvas-lang {
      display: none; }
      header nav #offcanvas-menu .icon,
      header nav #offcanvas-lang .icon {
        margin-top: 9px; }
    header nav #offcanvas-menu span {
      color: #000;
      font-size: 14px;
      font-size: 0.875rem;
      vertical-align: middle; }
  header .logo {
    position: relative;
    z-index: 1050;
    text-align: left;
    margin: 12px 0 -40px 0; }
    header .logo img {
      height: 135px; }

@media only screen and (max-width: 890px) {
  header:before {
    height: 97px;
    width: 168px; }
  header nav #offcanvas-menu {
    display: block;
    float: left;
    padding-left: 10px;
    position: relative;
    z-index: 1010; }
  header nav #offcanvas-lang {
    display: block;
    float: right;
    padding-right: 10px;
    position: relative;
    z-index: 1010; }
  header nav ul.offcanvas {
    margin-top: 36px;
    height: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: #FFF;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
    -o-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
    transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
    z-index: 1050;
    -moz-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); }
    header nav ul.offcanvas.show {
      height: 100%;
      padding-top: 80px;
      -moz-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
      -o-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
      -webkit-transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1);
      transition: all 0.3s cubic-bezier(0.4, 0.24, 0.15, 1); }
    header nav ul.offcanvas li {
      float: none;
      display: block;
      text-align: center; }
      header nav ul.offcanvas li .icon {
        display: none; }
      header nav ul.offcanvas li .mls {
        position: static; }
      header nav ul.offcanvas li a {
        padding: 10px 16px 18px 16px; }
        header nav ul.offcanvas li a.active {
          background-image: url(/assets/img/nav-active.png);
          background-size: 195px 22px;
          background-repeat: no-repeat;
          background-position: center bottom;
          color: #117f3b; } }
@media only screen and (max-width: 890px) {
  header .logo {
    text-align: center;
    margin: -24px auto -40px auto;
    display: table; }
    header .logo img {
      height: 120px; } }
@media only screen and (max-width: 640px) {
  header:before {
    height: 80px;
    width: 122px; }
  header .logo {
    text-align: center;
    margin: -12px auto -30px auto;
    display: table; }
    header .logo img {
      height: 90px; } }
.carousel {
  display: none; }

.home .carousel {
  *zoom: 1;
  width: auto;
  max-width: 1170px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  display: block; }
  .home .carousel:before, .home .carousel:after {
    content: '';
    display: table; }
  .home .carousel:after {
    clear: both; }
  .home .carousel:before {
    content: "";
    height: 116px;
    width: 228px;
    background-image: url(/assets/img/klompen.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    z-index: 10;
    left: -50px;
    bottom: -30px; }
  .home .carousel .slick {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 58.8%;
    margin-left: 0%;
    margin-right: 3%; }
    .home .carousel .slick:before, .home .carousel .slick:after {
      content: '';
      display: table; }
    .home .carousel .slick:after {
      clear: both; }
    .home .carousel .slick:last-child {
      margin-right: 0%; }
    .home .carousel .slick .slides {
      height: 390px;
      background: #FFF;
      margin-left: 10px;
      -moz-box-shadow: inset 0 0 0 3px #000, inset 0 0 0 6px #117f3b;
      -webkit-box-shadow: inset 0 0 0 3px #000, inset 0 0 0 6px #117f3b;
      box-shadow: inset 0 0 0 3px #000, inset 0 0 0 6px #117f3b; }
      .home .carousel .slick .slides .slide {
        margin: 6px;
        height: 380px;
        background-size: cover;
        background-position: center;
        color: #FFF;
        font-family: 'BloklettersViltstift', Arial, sans-serif;
        text-shadow: 4px 4px 2px #000; }
        .home .carousel .slick .slides .slide h1 {
          font-size: 24px;
          font-size: 1.5rem;
          margin: 20px 20px 0 20px;
          line-height: 1.2; }
        .home .carousel .slick .slides .slide p {
          font-size: 14px;
          font-size: 0.875rem;
          margin: 0 20px 0 20px; }
  .home .carousel .nicole {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 38.2%;
    margin-left: 0%;
    margin-right: 3%;
    height: 310px;
    margin-top: 110px;
    position: relative; }
    .home .carousel .nicole:before, .home .carousel .nicole:after {
      content: '';
      display: table; }
    .home .carousel .nicole:after {
      clear: both; }
    .home .carousel .nicole:last-child {
      margin-right: 0%; }
    .home .carousel .nicole img {
      float: right;
      bottom: -50px;
      z-index: 1;
      position: absolute; }

@media only screen and (min-width: 861px) and (max-width: 1024px) {
  .home .carousel .slick .slides {
    height: 330px; }
    .home .carousel .slick .slides .slide {
      height: 320px; }
      .home .carousel .slick .slides .slide h1 {
        font-size: 18px;
        font-size: 1.125rem;
        margin: 20px 20px 0 20px; }
      .home .carousel .slick .slides .slide p {
        font-size: 12px;
        font-size: 0.75rem;
        margin: 0 20px 0 20px; }
  .home .carousel .nicole {
    height: 250px; } }
@media only screen and (max-width: 860px) {
  .home .carousel .slick .slides {
    height: 270px; }
    .home .carousel .slick .slides .slide {
      height: 260px; }
      .home .carousel .slick .slides .slide h1 {
        font-size: 18px;
        font-size: 1.125rem;
        margin: 20px 20px 0 20px; }
      .home .carousel .slick .slides .slide p {
        font-size: 12px;
        font-size: 0.75rem;
        margin: 0 20px 0 20px; }
  .home .carousel .nicole {
    height: 190px; } }
@media only screen and (max-width: 640px) {
  .home .carousel .slick {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center; }
    .home .carousel .slick:before, .home .carousel .slick:after {
      content: '';
      display: table; }
    .home .carousel .slick:after {
      clear: both; }
    .home .carousel .slick:last-child {
      margin-right: 0%; }
    .home .carousel .slick .slides {
      margin-left: -6px;
      margin-right: -6px;
      text-indent: left; }
      .home .carousel .slick .slides .slide {
        height: 230px;
        text-align: left; }
        .home .carousel .slick .slides .slide h1 {
          font-size: 18px;
          font-size: 1.125rem;
          margin: 10px 30% 0 10px; }
        .home .carousel .slick .slides .slide p {
          font-size: 12px;
          font-size: 0.75rem;
          margin: 0 30% 0 10px; }
  .home .carousel .nicole {
    position: absolute;
    right: -40px;
    bottom: 30px;
    height: 260px; } }
aside nav ul li {
  margin-bottom: 12px; }
  aside nav ul li a {
    background-image: url(/assets/img/wood-pattern-brown.png);
    background-repeat: repeat;
    background-position: top left;
    background-size: 500px;
    display: block;
    color: #FFF;
    font-family: 'BloklettersViltstift', _sans;
    font-size: 14px;
    font-size: 0.875rem;
    padding: 20px 15px 14px 15px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -moz-box-shadow: 0 1px 2px #000;
    -webkit-box-shadow: 0 1px 2px #000;
    box-shadow: 0 1px 2px #000;
    position: relative; }
    aside nav ul li a:link, aside nav ul li a:active, aside nav ul li a:visited, aside nav ul li a:hover {
      color: #FFF; }
    aside nav ul li a.active:before {
      content: "";
      background-image: url(/assets/img/klompen.png);
      background-size: 57px 29px;
      background-repeat: no-repeat;
      display: block;
      width: 57px;
      height: 29px;
      position: absolute;
      right: 12px;
      top: 14px; }

.share {
  background-image: url(/assets/img/wood-pattern-green.png);
  background-size: 500px 53px;
  background-position: bottom left;
  height: 53px;
  padding: 18px 12px;
  margin-top: 40px;
  color: #FFF;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); }
  .share .brand {
    height: 90px;
    margin: -32px 0 0 0;
    float: left; }
  .share ul {
    float: right;
    margin: -12px 0 0 0; }
    .share ul li {
      float: left; }
      .share ul li a img {
        height: 48px; }

@media only screen and (max-width: 860px) {
  .share {
    padding: 18px 8px; }
    .share span {
      display: none; } }
.button {
  background-image: url(/assets/img/wood-pattern-yellow.png);
  background-repeat: repeat;
  background-position: top left;
  color: #000;
  display: inline-block;
  padding: 12px 8px 8px 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-width: 180px;
  font-family: 'BloklettersViltstift', _sans;
  text-align: center; }
  .button:link, .button:active, .button:visited, .button:hover {
    color: #000; }

footer {
  min-height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background-image: url(/assets/img/footer-bground.png);
  background-repeat: repeat-x;
  background-position: top center; }
  footer .footerContent {
    *zoom: 1;
    width: auto;
    max-width: 1170px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    color: #FFF;
    padding: 80px 10px 0 10px; }
    footer .footerContent:before, footer .footerContent:after {
      content: '';
      display: table; }
    footer .footerContent:after {
      clear: both; }
    footer .footerContent .info {
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 79.4%;
      margin-left: 0%;
      margin-right: 3%; }
      footer .footerContent .info:before, footer .footerContent .info:after {
        content: '';
        display: table; }
      footer .footerContent .info:after {
        clear: both; }
      footer .footerContent .info:last-child {
        margin-right: 0%; }
    footer .footerContent .webbiker {
      text-align: right !important;
      *zoom: 1;
      float: left;
      clear: none;
      text-align: inherit;
      width: 17.6%;
      margin-left: 0%;
      margin-right: 3%; }
      footer .footerContent .webbiker:before, footer .footerContent .webbiker:after {
        content: '';
        display: table; }
      footer .footerContent .webbiker:after {
        clear: both; }
      footer .footerContent .webbiker:last-child {
        margin-right: 0%; }

@media only screen and (max-width: 860px) {
  footer {
    min-height: 210px; }
    footer .footerContent .info {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      footer .footerContent .info:first-child {
        margin-left: auto; }
      footer .footerContent .info:last-child {
        margin-right: auto; }
    footer .footerContent .webbiker {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 30px;
      text-align: center !important; }
      footer .footerContent .webbiker:first-child {
        margin-left: auto; }
      footer .footerContent .webbiker:last-child {
        margin-right: auto; } }
@media only screen and (max-width: 640px) {
  footer {
    min-height: 220px; }
    footer .footerContent .info {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      footer .footerContent .info:first-child {
        margin-left: auto; }
      footer .footerContent .info:last-child {
        margin-right: auto; }
    footer .footerContent .webbiker {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      margin-top: 18px;
      text-align: center !important; }
      footer .footerContent .webbiker:first-child {
        margin-left: auto; }
      footer .footerContent .webbiker:last-child {
        margin-right: auto; } }

/*# sourceMappingURL=screen.css.map */
