html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*-----------------------------------------------------------------------------------/
/ Dependencies
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Colors
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Units
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Media queries
/-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------/
/ Partials
/-----------------------------------------------------------------------------------*/
@font-face {
  font-family: 'BloklettersBalpen';
  src: url("/assets/fonts/Blokletters-Balpen-webfont.eot");
  src: url("/assets/fonts/Blokletters-Balpen-webfont.eot?iefix") format("eot"), url("/assets/fonts/Blokletters-Balpen-webfont.woff") format("woff"), url("/assets/fonts/Blokletters-Balpen-webfont.ttf") format("truetype"), url("/assets/fonts/Blokletters-Balpen-webfont.svg#webfontqQCANlOs") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BloklettersViltstift';
  src: url("/assets/fonts/Blokletters-Viltstift-webfont.eot");
  src: url("/assets/fonts/Blokletters-Viltstift-webfont.eot?iefix") format("eot"), url("/assets/fonts/Blokletters-Viltstift-webfont.woff") format("woff"), url("/assets/fonts/Blokletters-Viltstift-webfont.ttf") format("truetype"), url("/assets/fonts/Blokletters-Viltstift-webfont.svg#webfont4P6345Om") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  font-family: 'BloklettersBalpen', _sans;
  line-height: 1;
  color: #000; }

a {
  color: #117f3b;
  text-decoration: none;
  transition: all ease-in 300ms; }
  a:hover {
    color: #0a4c24;
    transition: all ease-in 300ms; }

h1, h2, h3, h4 {
  font-family: 'BloklettersViltstift', _sans; }

h2, h3, h4, p, ul {
  margin-left: 20%;
  margin-right: 20%; }

h2 {
  font-size: rem-calc(24);
  line-height: rem-calc(36); }

h3 {
  font-size: rem-calc(18);
  line-height: rem-calc(30); }

h4 {
  font-size: rem-calc(14);
  line-height: rem-calc(24); }

p {
  font-size: rem-calc(16);
  line-height: rem-calc(24);
  margin-bottom: 24px; }

strong,
b {
  font-family: 'BloklettersViltstift', _sans; }

/*# sourceMappingURL=screen.css.map */
