footer {
	min-height: 130px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: block;
	background-image: url(/assets/img/footer-bground.png);
	background-repeat: repeat-x;
	background-position: top center;
	.footerContent {
		@include center($max-width);
		color: $white;
		padding: 80px 10px 0 10px;
		.info {
			@include column(8/10);
		}
		.webbiker {
			text-align: right !important;
			@include column(2/10);
		}
	}
}

@media #{$slides-only}{
	footer {
		min-height: 210px;
		.footerContent {
			// padding: 70px 10px 0 10px;
			.info {
				@include stack(0, center);
				// @include column(8/10);
			}
			.webbiker {
				@include stack(0, center);
				margin-top: 30px;
				text-align: center !important;
				// @include column(2/10);
			}
		}
	}
}

@media #{$small-only}{
	footer {
		min-height: 220px;
		.footerContent {
			.info {
				@include stack(0, center);
			}
			.webbiker {
				@include stack(0, center);
				margin-top: 18px;
				text-align: center !important;
			}
		}
	}
}