header {
	position: relative;
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-image: url(/assets/img/header-bground.jpg);
	&:after {
		position: absolute;
		left:0;
		bottom: -50px;
		height: 120px;
		width: 100%;
		content: "";
		background-image: url(/assets/img/header-grass.png);
		background-repeat: repeat-x;
		background-position: top center;
		
	}

	nav {
		height: 36px;
		border-bottom: 1px solid $grey;
		.center {
			@include center($max-width);
			position: relative;
		}

		ul {
			li {
				display: inline-block;
				position: relative;
				a {
				    font-family: 'BloklettersViltstift', _sans;
				    color: $black;
				    display: block;
					@include font-size(14px);
					padding: 15px 16px 23px 16px;

					&.active {
						background-image: url(/assets/img/nav-active.png);
						background-size: 195px 22px;
						background-repeat:no-repeat;
						background-position: center bottom;
						color: $green;
					}
				}
			}
			
			&.main-menu {
				li {
					&:after {
						content: "";
						background-image: url(/assets/img/ruitje.png);
						background-size: 10px 17px;
						background-repeat: no-repeat;
						width: 10px;
						height: 17px;
						display: block;
						position: absolute;
						right: -10px;
						top: 11px;
					}
					&:last-of-type:after {
						display: none;
					}
				}
			}

			&.lang {
				position: absolute;
				right: 10px;
				top: 0;
				li {
					display: block;
					float: left;
					&:after {
						display: none;
					}
					a {
						padding: 9px 4px 4px 4px;
						&.active {
							background: none;						
							fill: $green;
						}
					}
				}
			}
		}

		.icon {
			width: 20px;
			height: 20px;
		}
		.mls {
			position: fixed;
			left:-9999px;
			top:0;
		}

		#offcanvas-menu {
			display: none;
			.icon {				
				margin-top: 9px;
			}
		}

		#offcanvas-menu {
			span {
				color: $black;
				@include font-size(14px);
				vertical-align: middle;
			}
		}


	}
}

@media #{$menu-only}{
	header {
		nav {
			.main-menu {
			}
			.lang {
				li {
					a {
						&.active {
							background: none;						
							fill: $black !important;
						}
						&:not(.active){
							display: none;
						}
					}
				}
			}

			#offcanvas-menu {
				display: block;
				float: left;
				padding-left: 10px;
			}
		}

		.offcanvas {
			max-height: 0;
			overflow: hidden;
			margin: 37px 0 0 0;
			background: rgba(white, 0.9);
			@include transition(max-height cubic-bezier(0.4, 0.24, 0.15, 1.00) 0.6s);
			position: relative;
			z-index: 1000;

			&.show {
				max-height: 300px;
				@include transition(max-height cubic-bezier(0.4, 0.24, 0.15, 1.00) 0.6s);
				@include box-shadow(0 4px 20px rgba($black, 0.3));
			}

			li {
				&:first-child {				
					padding-top:14px;
				}

				display: block;
				text-align: center;
				a {
					padding: 10px 16px 18px 16px;
				}
			}
		}
	}
}

@media #{$small-only}{
	header {	
		min-height: 240px;
	}
}