header {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-image: url(/assets/img/header-bground.jpg);
	min-height: 250px;

	&:after {
		position: absolute;
		left:0;
		bottom: -50px;
		height: 120px;
		width: 100%;
		content: "";
		background-image: url(/assets/img/header-grass.png);
		background-repeat: repeat-x;
		background-position: top center;
	}

	nav {
		height: 36px;
		border-bottom: 1px solid $grey;

		ul {
			li {
				display: inline-block;
				position: relative;
				a {
				    font-family: 'BloklettersViltstift', _sans;
				    color: $black;
				    display: block;
					@include font-size(14px);
					padding: 15px 16px 23px 16px;

					&.active {
						background-image: url(/assets/img/nav-active.png);
						background-size: 195px 22px;
						background-repeat:no-repeat;
						background-position: center bottom;
						color: $green;
					}
				}
			}
			
			&.main-menu {
				li {
					&:after {
						content: "";
						background-image: url(/assets/img/ruitje.png);
						background-size: 10px 17px;
						background-repeat: no-repeat;
						width: 10px;
						height: 17px;
						display: block;
						position: absolute;
						right: -10px;
						top: 11px;
					}
					&:last-of-type:after {
						display: none;
					}
				}
			}

			&.lang-menu {
				position: absolute;
				right: 10px;
				top: 0;
				li {
					display: block;
					float: left;
					&:after {
						display: none;
					}
					a {
						padding: 9px 4px 4px 4px;
						&.active {
							background: none;						
							fill: $green;
						}
					}
				}
			}
		}

		.icon {
			width: 20px;
			height: 20px;
		}
		.mls {
			position: fixed;
			left:-9999px;
			top:0;
		}

		#offcanvas-menu,
		#offcanvas-lang {
			display: none;
			.icon {				
				margin-top: 9px;
			}
		}

		#offcanvas-menu {
			span {
				color: $black;
				@include font-size(14px);
				vertical-align: middle;
			}
		}
	}

	// .logo {
	// 	height: 135px;
	// 	margin: 12px 0 -40px 0;
	// }
	.logo {
		position: relative;
		z-index: 1050;
		text-align: left;
		margin: 12px 0 -40px 0;
		img {
			height: 135px;
		}
	}

}

@media #{$menu-only}{
	header {
		&:before {
			height: 97px;
		    width: 168px;
		}
		nav {
			#offcanvas-menu {
				display: block;
				float: left;
				padding-left: 10px;
				position: relative;
				z-index: 1010;
			}
			#offcanvas-lang {
				display: block;
				float: right;
				padding-right: 10px;
				position: relative;
				z-index: 1010;
			}

			ul.offcanvas {
				margin-top: 36px;

				height: 0;
				top:0;
				left:0;
				width: 100%;
				position: fixed;

				overflow: hidden;
				background: $white;
				@include transition(all cubic-bezier(0.4, 0.24, 0.15, 1.00) 0.3s);
				z-index: 1050;
				@include box-shadow(0 4px 20px rgba($black, 0.3));

				&.show {
					height: 100%;
					padding-top: 80px;
					@include transition(all cubic-bezier(0.4, 0.24, 0.15, 1.00) 0.3s);
				}

				li {
					float: none;
					&:first-child {		
						// padding-top:110px;
					}
					.icon {
						display: none;
					}
					.mls {
						position: static;
					}

					display: block;
					text-align: center;
					a {
						padding: 10px 16px 18px 16px;
						&.active {
							background-image: url(/assets/img/nav-active.png);
							background-size: 195px 22px;
							background-repeat:no-repeat;
							background-position: center bottom;
							color: $green;
						}
					}
				}
			}
		}

	}
}
@media #{$menu-only}{
	header {
		.logo {
			text-align: center;
			margin: -24px auto -40px auto;
			display: table;
			img {
				height: 120px;
			}
		}
	}
}

@media #{$small-only}{
	header {
		&:before {
			height: 80px;
		    width: 122px;
		}

		.logo {
			text-align: center;
			margin: -12px auto -30px auto;
			display: table;
			img {
				height: 90px;
			}
		}

	}
}