* {
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.right {
	text-align: right;
}

.center {
	@include center($max-width);
	position: relative;
}


.small-only {
	display: none;
}
@media #{$small-only}{
	.small-only {
		display: block;
	}
}