aside {
	nav {
		ul {
			li {
				margin-bottom: 12px;
				padding: 0;
				&:after {
					display: none;
				}
				a {
					background-image: url(/assets/img/wood-pattern-brown.png);
					background-repeat: repeat;
					background-position: top left;
					background-size: 500px;
					display: block;
					color: $white;
					font-family: 'BloklettersViltstift', _sans;
					@include font-size(14px);
					padding: 20px 15px 14px 15px;
					@include border-radius(8px);
					@include box-shadow(0 1px 2px $black);
					position: relative;
					&:link,
					&:active,
					&:visited,
					&:hover {
						color: $white;
					}

					&.active {
						&:before {
							content: "";
							background-image: url(/assets/img/klompen.png);
							background-size: 57px 29px  ;
							background-repeat: no-repeat;
							display: block;
							width: 57px;
							height: 29px;
							position: absolute;
							right: 12px;
							top: 14px;
						}
					}
				}
			}
		}
	}
}