@font-face {
    font-family: 'BloklettersBalpen';
    src: url('/assets/fonts/Blokletters-Balpen-webfont.eot');
    src: url('/assets/fonts/Blokletters-Balpen-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('/assets/fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('/assets/fonts/Blokletters-Balpen-webfont.svg#webfontqQCANlOs') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BloklettersViltstift';
    src: url('/assets/fonts/Blokletters-Viltstift-webfont.eot');
    src: url('/assets/fonts/Blokletters-Viltstift-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.woff') format('woff'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.ttf') format('truetype'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.svg#webfont4P6345Om') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'BloklettersBalpen', _sans;
    line-height: 1;
    color: $black;
}

a {
    color: $green;
    text-decoration: none;
    transition: all ease-in $speed;
    &:hover {
        color: $dgreen;
        transition: all ease-in $speed;
    }
}

h1, h2, h3, h4 {
    font-family: 'BloklettersViltstift', _sans;
    margin-bottom: 12px;
}

h1 {
    @include font-size(24);
    @include line-height(35);
}

h2 {
    @include font-size(14);
    @include line-height(18);
    color: $green;
}

h3 {
    @include font-size(14);
    @include line-height(18);
}

h4 {
    @include font-size(12);
    @include line-height(18);
}

p {
    @include font-size(12);
    @include line-height(18);
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
}

strong,
b {
    font-family: 'BloklettersViltstift', _sans;
}

@media #{$medium-only} {
}

@media #{$small-only} {
}