@font-face {
    font-family: 'BloklettersBalpen';
    src: url('/assets/fonts/Blokletters-Balpen-webfont.eot');
    src: url('/assets/fonts/Blokletters-Balpen-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/Blokletters-Balpen-webfont.woff') format('woff'),
         url('/assets/fonts/Blokletters-Balpen-webfont.ttf') format('truetype'),
         url('/assets/fonts/Blokletters-Balpen-webfont.svg#webfontqQCANlOs') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BloklettersViltstift';
    src: url('/assets/fonts/Blokletters-Viltstift-webfont.eot');
    src: url('/assets/fonts/Blokletters-Viltstift-webfont.eot?iefix') format('eot'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.woff') format('woff'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.ttf') format('truetype'),
         url('/assets/fonts/Blokletters-Viltstift-webfont.svg#webfont4P6345Om') format('svg');
    font-weight: normal;
    font-style: normal;
}


html {
    font-family: 'BloklettersBalpen', _sans;
    line-height: 1;
    color: $black;
}

a {
    color: $green;
    text-decoration: none;
    transition: all ease-in $speed;
    &:hover {
        color: $dgreen;
        transition: all ease-in $speed;
    }
}

h1, h2, h3, h4 {
    font-family: 'BloklettersViltstift', _sans;
    margin-bottom: 12px;
}

h1 {
    @include font-size(24px);
    @include line-height(35px);
}

h2 {
    @include font-size(14px);
    @include line-height(18px);
    color: $green;
}

h3 {
    @include font-size(14);
    @include line-height(18);
}

h4 {
    @include font-size(12px);
    @include line-height(18px);
}

main,
footer {
    p, ul, table {
        @include font-size(12px);
        @include line-height(18px);
        margin-bottom: 12px;
        &.call {
            @include font-size(14px);
            font-family: 'BloklettersViltstift', _sans;
        }

        li {
            position: relative;
            padding-left: 18px;
            &:after {
                position: absolute;
                top: -2px;
                left: 2px;
                content: " ";
                display: block;
                width: 10px;
                height: 17px;
                background-image: url(/assets/img/ruitje.png);
                background-size: 10px 17px;
                background-repeat: no-repeat;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    strong,
    b {
        font-family: 'BloklettersViltstift', _sans;
    }
}

@media #{$medium-only} {
}

@media #{$small-only} {
}